 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Automation</h2>
      <img src="/assets/img/selenium_logo.png">
      <img src="/assets/img/browser-logos.png">
      <img src="/assets/img/zalenium.png">
      <p>Selenium as main framework for testing autoamtion of web applications in various browser environment</p>
    </div>
    <div class="tech">
      <h2>Language / Libs</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <img src="assets/img/rest-assured.png">
      <img src="./assets/img/testng.png">
      <p>Automation of testing GUI and REST API of web applications based on Page Object Model pattern</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="../assets/img/postman.png">
      <i class="devicon-git-plain"></i>
      <i class="devicon-gradle-plain colored"></i>
      <img src="/assets/img/jenkins.png">
      <p>Improve modern development practices in automate smoke and integration tests in CI/CD process </p>
    </div>
</div>
