<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
    <img alt="mountains" src="{{ "/assets/img/lufthansa-systems.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Lufthansa Systems Poland </h3>
    <ul>
      <li><b>Period:</b> 08.2018 - now </li>
    </ul>
    <p>I am working as Test Engineer in Lufthansa Systems Poland involving to the web solutions direct to 
      internal emplpoyees. My responsibilities include mainly design and writing test automation scripts, investigating defects
      in software and cooperative with analysts and software developers.
      <!-- I have been concentrated to develop CI / CD methodology by supplying new regression and integrations tests. 
      Objected programming technique is familiar to me as the TDD. I am looking for the new opportunity to work in project regarding mobile applications on Android or iOS systems. -->
    </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=MiGHd7fKoTo">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/DDL.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Digital Delivery Lab Department</h3>
    <ul>
      <!-- <li> Featured Skills</li> -->
    </ul>
    <p>In Digital delivery Lab Department I am part of team, working in agile methodology. Imporving CI process by develop automation tests provide quick feedback to rest of the team and keep hight soft quality. </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=hKaY7uLflKU">Check it out</a>
  </div>
</div>
